<div class="w-75 mx-auto">
    <h1 class="w-75 mx-auto">Edit Post</h1>
    

    <form  class="w-75 mx-auto" id="editpost-form">

        <div class="form-group">

            <label for="title">title</label>

            <input type="text" name="title" class="form-control" id="title" placeholder="Enter Post Title" value="">

        </div>

        <div class="form-group">

            <label for="status">Status</label>

            <select name="status" id="status" class="form-control">

                <option value="public">Public</option>
                <option value="private">Private</option>
                <option value="draft">Draft</option>

            </select>

        </div>

        <div class="form-group">

            <input type="checkbox" name="comments" id="allowComments" class="form-check-label">
            <label for="comments">Allow Comments</label>

        </div>

        <div class="form-group">
            <textarea cols="30" rows="10" class="form-control" id="text-body" placeholder="Enter your Post! lets write something awesome"></textarea>

        </div>


        <button type="submit" class="btn btn-primary">submit</button>
    </form>
</div>