<div class="w-100 mx-auto">
    
        <div class="col-sm-4 w-50 mx-auto">
            <h1 class="text-md-center">Create Category</h1>
            <form action="" id="category__form">
                <div class="form-group">

                    <label for="name">Name</label>
                    <input type="text" name="name" id="category__name" placeholder="Enter Title" class="form-control" required>
                    <div class="w-50 mx-auto mr-2">
                        <button class="btn btn-primary mt-2 ">Create Category</button>
                    </div>
                    
                </div>
            </form>
        </div>
        <hr>
        <div class="col-sm-8 w-100 mx-auto mt-4">
            <h1 class="text-md-center">Categories</h1>
            <table class="table" id="category__table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
            </table>
        </div>
</div>

