<footer class="sticky-footer">
  <div class="container">
    <div class="text-center">
      <small>Copyright © Trends Blog 2018</small>
    </div>
  </div>
</footer>

<!-- Footer 
<footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
/.container -->
<!-- </footer> --> 
<!-- Core javascript -->
<script src="../public/js/app.js"></script>

<!-- Bootstrap core JavaScript -->
  <!-- <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

</body>

</html>