<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="{global.baseUrl}">
    <title>{head.title} | {global.appName}</title>

    <!-- static files -->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Bootstrap core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="../public/css/blog-home.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../public/css/blog-post.css" rel="stylesheet">
    
</head>
<body>
    {body.nav}